################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JobFinder/FileContentIndex/a701b887-9c70-4dcf-ba1a-3d305167db58.vsidx
