<section class="section-search">
    <img src="../assets/img/logo.jpg" alt="">
    <div class="div-input-search">  
      <input id="txtFunção" type="text" placeholder="Função" class="input-search"/>
      <input id="txtCidade" type="text" placeholder="Cidade/Estado" class="input-search"/>
      <button type="button" class="btn-search">Buscar Vagas</button>
    </div>
</section>
<section class="section-info">
  <h2>Total de Vagas e Candidato</h2>
  <div class="div-info-Geral">
    <div class="div-info-Vagas">
      <span>Vagas</span>
      <span id="totalVagas">5</span>
    </div>
      <div class="div-info-Candidato">
        <span>Candidato</span>
        <span id="totalCandidato">5</span>
      </div>
  </div>
</section>

