
  <div class="div-nav-bar">
    <a routerLink="/" class="h1-nav-bar"><img src="assets/img/logo.jpg" alt=""></a>
    <div class="div-btn-login">

      <button type="button"class="btn-nav-bar login" (click)="modalLogin.AbrirModal()">Login</button>
      <button type="button" class="btn-nav-bar cadastro" routerLink="/cadastro">Cadastra-se</button>
    </div>
  </div>
    <router-outlet></router-outlet>
    <app-login *ngIf="modalLogin.modalAberta"></app-login>   
    <footer class="footer">
      <ul>
        <li><a href="https://www.linkedin.com/in/geovane-de-almeida-fitz/"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://wa.me/5541998582485"><i class="fab fa-whatsapp"></i></a></li>
        <li><a href="https://github.com/gefitz"><i class="fab fa-github"></i></a></li>
      </ul>
      <h3>Geovane de Almeida Fitz - 2024</h3>
    </footer>
    <!--Comentario-->
    

